/*.iml
/log
target
/.idea/artifacts
/.idea/copyright
/.idea/dataSources
/.idea/inspectionProfiles
/.idea/libraries
/.idea/scopes
/.idea/*.iml
/.idea/*.xml
/.idea/copyright/*.xml
/.idea/inspectionProfiles/*.xml
/.idea/libraries/*.xml
/config/x509_resources
/config/keystore
/config/*.config
/config/license.*