webapp.name=First Web Application
webapp.URL=jdbc:mysql://localhost:3306/univer
webapp.DBUSER=root
webapp.DBUSER.PWD=td58ua
webapp.mobileid.url=https://testua.oauth.avest.org
webapp.mobileid.authorize.uri=/oauth/authorize
webapp.mobileid.token.get.uri=/oauth/token
webapp.mobileid.user.data.get.uri=/oauth/resource
webapp.mobileid.client.id=8HyfiUokftWnCO4mV15vcg0d30Jt0939
webapp.mobileid.client.secret=b9yGGSuoK68kz64ehyglrAxwDfkSjAdI